<div class="row justify-content-center">
  <div class="col-12 col-md-4">
    <h1 class="mb-3">Register</h1>

    <div class="card">
      <div class="card-body">
        {{#if errors}}<div class="alert alert-danger">Review form data</div>{{/if}}
        
        <form action="/register" method="POST">
        
          <div class="input-group mb-1">
            <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" value="{{user.name}}" name="name" class="form-control {{#if errors.name}}is-invalid{{/if}}"
              placeholder="User name...">
            {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
          </div>
             <div class="input-group mb-1">
            <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" value="{{user.lastName}}" name="lastName" class="form-control {{#if errors.lastName}}is-invalid{{/if}}"
              placeholder="User lastname...">
            {{#if errors.lastName}}<div class="invalid-feedback">{{errors.lastName}}</div>{{/if}}
          </div>
        
          <div class="input-group mb-1">
            <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
            <input type="email" value="{{user.email}}" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}"
              placeholder="user@example.org">
            {{#if errors.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
          </div>
        
          <div class="input-group mb-2">
            <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
            <input type="password" value="{{user.password}}" name="password"
              class="form-control {{#if errors.password}}is-invalid{{/if}}" placeholder="****">
            {{#if errors.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
          </div>
        
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
        <hr>
        <div class="d-grid">
          <a class="btn btn-secondary" href="/login">Login</a>
        </div>
      </div>
    </div>
    
  </div>
</div>