{{>header homePage=true}}
<div class="container-xl px-4 mt-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img
            class="img-account-profile rounded-circle mb-2"
            src="{{user.profilePic}}"
            alt=""
          />
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">JPG or PNG no larger
            than 5 MB</div>
          <!-- Profile picture upload button-->
          <form
            class="d-flex flex-column justify-content-center"
            action="/profile/edit"
            method="post"
            enctype="multipart/form-data"
          >
            <input class="form-control" type="file" name="profilePic" />
            <button class="btn btn-light" type="submit">Upload new image</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="accountDetail text-white fw-bold d-flex ps-4 pe-4 justify-content-between align-items-center">
          <div class="mt-3">
            <p>Account Details</p>
          </div>
          <div>
            <a href="/editProfile">
              <button type="button" class="btn btn-light">Edit</button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">First name</label>
              <h5 class="lead">{{user.name}}</h5>
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">Last name</label>
              <h5 class="lead">{{user.lastName}}</h5>
            </div>
          </div>
          <!-- Form Group (email address)-->
          <div class="row gx-3 mb-3">
            <div class="col-md-6 mb-3">
              <label class="small mb-1" for="inputEmailAddress">Email address</label>
              <h5 class="lead">{{user.email}}</h5>
            </div>
            <div class="col-md-6 mb-3">
              <label class="small mb-1" for="inputPassword">Password</label>
              <h5 class="lead">***********</h5>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group -->
              <div>
                <label class="small mb-1" for="Notes">Therapist Notes</label>
                <p>
                  {{user.diagnosis}}
                </p>
              </div>
            </div>
          </div>
          <!-- Save changes button-->
          <form action="/diagnosis" method="POST">
            <button class="btn btn-light" type="submit">Generate Diagnosis</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>